<main>
  <div class="parent-container">
    <div class="child-container">
      <img src="assets/images/user_icon.png" alt="">
      <h1>INICIA SESIÓN</h1>
      <div class="inputs-container">
        <input [(ngModel)]="email" placeholder="Email" type="text"/>
        <input [(ngModel)]="password" placeholder="Contraseña" type="password">
        <button (click)="submit()">Ingresar</button>
      </div>
      <span register>
        <p>¿No tienes una cuenta? <a routerLink="/register">Registrate.</a></p>
      </span>
    </div>
  </div>
</main>
