<main>
  <div class="parent-container">
    <div class="child-container reg">
      <span style="margin: 5% 0 0 10%; width: 100%;display: flex;">
        <a routerLink="/" style="display: flex;align-items: center;">
          <mat-icon style="font-size:30px; height:auto;">arrow_back_ios</mat-icon>
          <p>Login</p>
        </a>
      </span>
      <span class="img-container">
        <img [src]="img" alt="">
        <img [src]="img2" alt="">
      </span>
      <h1>REGISTER NOW</h1>
      <div class="inputs-container">
        <mat-form-field appearance="fill">
          <mat-label>Full Name</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input [(ngModel)]="fullName" matInput type="text" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <mat-icon matPrefix>phone</mat-icon>
          <input [(ngModel)]="mobileNumber" matInput type="tel" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input [(ngModel)]="email" matInput type="text" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input [(ngModel)]="password" matInput type="password" autocomplete="off">
        </mat-form-field>
        <button (click)="register()">Register</button>
      </div>
    </div>
  </div>
</main>
